/* COMMOON CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.container{
    width: 1320px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
body{
    font-family: "Josefin Sans", sans-serif;
}
/* COMMOON CSS END */

/* NAV  */
.dropdown-toggle::after{
    display: none !important;
}
nav .dropdown{
    position: relative;
}
nav ul li a{
    padding: 0 22.5px !important;
}
nav .navbar-nav{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
nav .drop-icon{
    position: absolute;
    top: 3px;
    right: 5px;
}
nav .icons-group{
    display: flex;
    margin-bottom: 0 !important;
}
nav .icons-group li a{
    font-size: 24px;
    color: #151A32;
    padding: 0 10px !important;
}
nav .icons-group .order-list{
    position: relative;
    /* background: red; */
}
nav .icons-group .order-list .count-value{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    background-color: #FF6F61;
    text-align: center;
    
}

/* SEARCH */
.search-box{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.9);
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}
.search-box.active_search{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.search-box .cross-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #FF6F61;
    border: 2px solid #FF6F61;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;
    justify-content: center;
}
.search-box .cross-btn:hover{
    background-color: #fff;
    color: #FF6F61;
    border: none;
    transform: rotate(360deg);
}
.search-box input{
    width:0px;
    border-radius: 50px;
    outline: none;
    border: 2px solid #FF6F61;
    background-color: transparent;
    color: #fff !important;
    padding: 15px;
    z-index: 100;
    position: relative;
    transition: 0.8s;
    font-size: 18px;
    }
.search-box input.search-active{
    width: 600px;
    /* background-color: #FF6F61; */
}
.search-box input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
.search-box .search-icon{
    color: #fff;
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
}
.search-box input:focus{
    background-color: transparent;
    color: #fff;
    border: 2px solid #FF6F61 !important;
}
.search-box button{
   padding: 10px 30px;
   border: none;
   background-color: #151A32;
   color: #FFFFFF;
}


/* SEARCH END */
/* NAV END */